.button {
    background-color : #c6f4a1;
    font-size: large;

    -fx-background-color : #c6f4a1;
    -fx-font-size: large;
}

.button:hover {
    background-color : #c6fec6;

    -fx-background-color : #c6fec6;
}

.button:pressed {
    background-color : #a9f9a1;

    -fx-background-color : #a9f9a1;
}

.list-view .list-cell:even {
    background-color : #c6f4a1;

    -fx-background-color : #c6f4a1;
}

.list-view .list-cell:odd {
    background-color : #c6f4a1;

    -fx-background-color : #c6f4a1;
}

.list-view {
    background-color : #c6f4a1;

    -fx-background-color : #c6f4a1;
}
